
$background-color: black;
$text-color: yellow;
$shadow : 20px 3.25rem 2.75rem rgb(0, 0, 0);
.component {
  background-color: $background-color;
  background-size: cover;
  color: $text-color;
  min-height: calc(100vh - 140px);
}


.label {
  border-radius: 20px;
  margin: 16px 16px;
  padding: 16px 16px;
  min-width: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.col {
  border-radius: 20px;
  margin: 16px 16px;
  padding: 16px 16px;
  min-width: 100;
}

.login {
  border-radius: 40px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  box-shadow: $shadow ;
  min-width: 500px;
}

.tab {
  color : $text-color;
  font-size: 25px;
  background-color: black;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  div{
    :hover,
    :focus
    ::after{
      color : red
    }
  }
  
}


.register {
  border-radius: 50px;
  padding: 30px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  box-shadow: $shadow ;
  min-width: 500px;
  span{
    font-size: 20px;
    border-radius: 20px;
    height: 50px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    input{
      font-size: 20px;
      max-width: 400px;
      min-width: 300px;
      max-height: 45px;
    }
    }
    input{
      border-radius: 20px;
      height: 50px;
      font-size: 20px;
      max-width: 400px;
      min-width: 350px;
    }
 
  button{
    font-size: 20px;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    background-color: white;
    color : rgb(0, 0, 0);
    span{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    :focus ::after{
      background-color: yellow;
      
  }
  }
}
